<%= form_for @post, class: "form-horizontal" do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rationale, class: "col-sm-2 control-label" %>
    <%= f.text_area :rationale, class: "form-control" %>
  </div>

  <div>
    <div class="form-check">
      <%= f.radio_button :status, 'submitted', class:"form-check-input", type:"radio"%>
      <%= f.label :status, 'Submitted', class:"form-check-label"%>
    </div>
    <div class="form-check">
      <%= f.radio_button :status, 'approved', class:"form-check-input", type:"radio"%>
      <%= f.label :status, 'Approved', class:"form-check-label"%>
    </div>
    <div class="form-check">
      <%= f.radio_button :status, 'rejected', class:"form-check-input", type:"radio"%>
      <%= f.label :status, 'Rejected', class:"form-check-label"%>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary btn-block mt-2' %>

<% end %>